.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px 20px;
  min-width: 100px;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--white);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.wrapper + .wrapper {
  margin-left: 8px;
}
.wrapper.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-color: rgba(22, 24, 35, 0.12);
}
.rounded:hover {
  border-color: rgba(22, 24, 35, 0.2);
  background-color: rgba(22, 24, 35, 0.03);
}

.primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.primary:hover {
  border-color: var(--primary);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
}

.outline {
  color: var(--primary);
  border-color: currentColor;
}
.outline:hover {
  border-color: currentColor;
  background-color: rgba(254, 44, 85, 0.06);
}

.text:hover {
  text-decoration: underline;
}

.small {
  min-width: 88px;
  padding: 4px 20px;
}

.large {
  min-width: 140px;
  padding: 14px 20px;
}/*# sourceMappingURL=Button.module.css.map */