.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: var(--default-layout-width);
  display: flex;
}

.content {
  flex: 1;
}/*# sourceMappingURL=DefaultLayout.module.css.map */