.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;
  height: var(--default-layout-header-hight);
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  display: flex;
  width: 361px;
  height: var(--search-height);
  padding-left: 16px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  border: 1.5px solid transparent;
}
.search input {
  flex: 1;
  height: 100%;
  color: var(--black);
  caret-color: var(--primary);
  font-size: 1.6rem;
  background-color: transparent;
}
.search input:not(:-moz-placeholder-shown) ~ .search-btn {
  color: rgba(22, 24, 35, 0.75);
}
.search input:not(:-ms-input-placeholder) ~ .search-btn {
  color: rgba(22, 24, 35, 0.75);
}
.search input:not(:placeholder-shown) ~ .search-btn {
  color: rgba(22, 24, 35, 0.75);
}
.search::after {
  content: "";
  position: absolute;
  width: 2px;
  right: var(--search-button-width);
  top: var(--search-top-spacer);
  height: calc(var(--search-height) - var(--search-top-spacer) * 2);
  background-color: rgba(22, 24, 35, 0.12);
}
.search:focus-within {
  border-color: rgba(22, 24, 35, 0.2);
}

.clear,
.loading {
  position: absolute;
  font-size: 1.6rem;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: 52px;
  height: 100%;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  cursor: pointer;
}
.search-btn:hover {
  background-color: rgba(22, 24, 35, 0.03);
}
.search-btn:active {
  background-color: rgba(22, 24, 35, 0.06);
}

.custom-login {
  color: rgba(22, 24, 35, 0.75);
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
}

.menu-items {
  width: 224px;
}/*# sourceMappingURL=Header.module.css.map */