//Suggested Accounts
.wrapper {
    border-top: 1px solid #e3e3e4;
}

.label {
    font-size: 1.4rem;
    padding: 8px 8px 0 8px;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 600;
    color: #161823bf;
}

.wrapper-more-btn {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding: 0 8px;
    margin-top: 8px;
    cursor: pointer;
}

.more-btn {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    line-height: 20px;
}

//Accounts Item

.account-item {
    display: flex;
    padding: 8px;

    &:hover {
        cursor: default;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20e5ec;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
}
