.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 9px 20px;
    min-width: 100px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--white);
    user-select: none;

    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-family);

    cursor: pointer;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: block;
    width: 24px;
    text-align: right;
}

// Button Types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--white);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}
// Button Types

// Button Sizes
.small {
    min-width: 88px;
    padding: 4px 20px;
}

.large {
    min-width: 140px;
    padding: 14px 20px;
}
// Button Sizes
