.wrapper {
    width: 320px;
    padding: 20px;
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn {
    padding: 6px 8px;
}

.body {
    color: #161823bf;
}

.nickname {
    font-size: 1.8rem;
    font-family: var(--font-name);
    line-height: 22px;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20e5ec;
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
}

.analytics {
    font-size: 1.6rem;
    margin-top: 10px;
}

.value ~ .value {
    margin-left: 20px;
}

.label {
}
