.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    max-width: 100%;
    margin-top: var(--default-layout-header-hight);
    display: flex;
}

.content {
    flex: 1;
}
