// Menu Wrapper
.menu-list {
    width: 224px;
    padding-bottom: 8px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-Poper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Menu items
.menu-item {
    justify-content: flex-start;

    width: 100%;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;

    font-weight: 600;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//Menu Header
.menu-header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
}
.title-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
